## Based on the lab

In [21]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML and XML documents



print("Libraries imported.")

Libraries imported.

### Load the data from wikipedia using BeautifulSoup library and request

In [22]:
wikidata = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
sp = BeautifulSoup(wikidata, 'html.parser')
pcl = []
bl = []
nl = []

### Copy the data in list and prepare to create a dataframe

In [23]:
for row in sp.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        pcl.append(cells[0].text)
        bl.append(cells[1].text)
        nl.append(cells[2].text)

### Create a Dataframe using pandas

In [24]:
df = pd.DataFrame({"PostalCode": pcl,
                   "Borough": bl,
                   "Neighborhood": nl})

df.head()

  PostalCode             Borough                 Neighborhood
0      M1A\n      Not assigned\n               Not assigned\n
1      M2A\n      Not assigned\n               Not assigned\n
2      M3A\n        North York\n                  Parkwoods\n
3      M4A\n        North York\n           Victoria Village\n
4      M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

### Replace \n for a empty space

In [25]:
df = df.replace('\n',' ', regex=True)
df.head()

  PostalCode            Borough                Neighborhood
0       M1A       Not assigned                Not assigned
1       M2A       Not assigned                Not assigned
2       M3A         North York                   Parkwoods
3       M4A         North York            Victoria Village
4       M5A   Downtown Toronto   Regent Park, Harbourfront

### Search and delete all "Not assigned" values in Borough column

In [26]:
df.drop(df.index[df['Borough'] == 'Not assigned '], inplace = True)
df = df.reset_index(drop=True)

df.head()

  PostalCode            Borough                                  Neighborhood
0       M3A         North York                                     Parkwoods
1       M4A         North York                              Victoria Village
2       M5A   Downtown Toronto                     Regent Park, Harbourfront
3       M6A         North York              Lawrence Manor, Lawrence Heights
4       M7A   Downtown Toronto   Queen's Park, Ontario Provincial Government

### Combining the Neighbourhoods based on similar Borough

In [27]:
df2 = df.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
df2.head()

  PostalCode       Borough                             Neighborhood
0       M1B   Scarborough                           Malvern, Rouge
1       M1C   Scarborough   Rouge Hill, Port Union, Highland Creek
2       M1E   Scarborough        Guildwood, Morningside, West Hill
3       M1G   Scarborough                                   Woburn
4       M1H   Scarborough                                Cedarbrae

### Search for a not assigned value in the neighbornhood column and replace the value

In [28]:
for index, row in df2.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        
df2.head()

  PostalCode       Borough                             Neighborhood
0       M1B   Scarborough                           Malvern, Rouge
1       M1C   Scarborough   Rouge Hill, Port Union, Highland Creek
2       M1E   Scarborough        Guildwood, Morningside, West Hill
3       M1G   Scarborough                                   Woburn
4       M1H   Scarborough                                Cedarbrae

In [29]:
df2.shape

(103, 3)